layout {
    tab hide_floating_panes=true {
        floating_panes {
            filepicker name="picker" focus=true
            zide_rename
        }
	    editor name="editor"
        compact_bar size=1
    }

    // TEMPLATES
    pane_template name="filepicker" {
        command "zide-pick"
        x "10%"
        y "15%"
        width "80%"
        height "60%"
    }

    pane_template name="editor" {
        command "$EDITOR"
    }

    pane_template name="compact_bar" {
        borderless true
        plugin location="compact-bar"
    }

    pane_template name="zide_rename" command="zide-rename" close_on_exit=true

    new_tab_template {
        pane
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }
}

env {
    ZIDE_USE_FOCUS_PLUGIN "true"
}
